body{
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    color: #DEDEDE;
}

/* css grid for header */

header{
    display: grid;
    grid-template-columns: 35% auto 35%;
    grid-template-rows: auto 50% auto;
    grid-auto-flow: column;

    margin-top: 2%;
}

/* <h1> positioning */

.name{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: start;

    font-size: 40px;
}

/* Display ".xyz" when hovering <h1> */

.hidden_name{
    display: none;
    font-size: 20px;
}

.name:hover .hidden_name{
    display: initial;
}

/* Navbar positioning in grid */

.navbar{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: end;
    align-self: center;

    transition: background-size .2s;

    font-size: 20px;
}

/* Removing link decorations */

.navbar>a{
    text-decoration: none;
    color: inherit;
}

/* Animations when hovering navbar links */

.work, .exp, .about{
    background: linear-gradient(to bottom, #DEDEDE 0%,#DEDEDE 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 0px 0px;
    transition: background-size 0.3s;
}

.work:hover, .exp:hover, .about:hover{
    background-size: 4px 50px;
    color: #171717;
}

/* <hr> */

.bar{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: end;

    border: 1px solid;
}