body{
    font-family: 'Noto Sans JP';
    
    color: #DEDEDE;
}

/* css grid for header */

header{
    display: grid;
    grid-template-columns: 35% auto 35%;
    grid-template-rows: auto 30px;
    grid-auto-flow: column;

    margin-top: 30px;
}

/* <h1> positioning */

.name{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: start;

    font-size: 40px;
    font-weight: bold; 
}       

/* Display ".xyz" when hovering <h1> */

.hidden_name{
    display: none;
    font-size: 20px;
}

.name:hover .hidden_name{
    display: initial;

}

/* Navbar positioning in grid */

nav{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: end;
    align-self: center;

    transition: background-size .2s;

    font-size: 20px;
}

/* Removing link decorations */

nav>a{
    text-decoration: none;
    color: inherit;
}

p>a{
    text-decoration: none;
    color:#7e9eff;
    border-bottom: 1px solid;

}

p>a:hover{
    border-bottom: 2px solid;
    
}

/* Animations when hovering navbar links */

.work, .exp, .about{
    background: linear-gradient(to bottom, #DEDEDE 0%,#DEDEDE 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 0px 0px;
    transition: background-size 0.3s;
}

.work:hover, .exp:hover, .about:hover{
    background-size: 4px 50px;
    color: #171717;
}

/* <hr> */

.line{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: end;

    border: 1px solid;
}

section{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 36.5% auto 36.5%;
    
    row-gap: 30px;
}

section>h2{
    grid-column-start: 2;
    grid-column-end: 3;

    align-self: start;
    justify-self: left;

    font-size: 30px;
}

section>p{
    grid-column-start: 2;
    grid-column-end: 3;

    font-size: 15px;
    line-height: 25px;
}

section>.image_test{
    grid-row-start: 3;
    grid-column-start: 2;
    justify-self: center;
}

/* Media queries for smaller screens */

@media screen and (max-width: 1300px){
    header{
        grid-template-columns: 25% auto 25%;
    }
}

@media screen and (max-width: 1150px){
    section{
        grid-template-columns: 30% auto 30%;
    }
}

@media screen and (max-width: 750px){
    section{
        grid-template-columns: 20% auto 20%;
    }
}

@media screen and (max-width: 500px){
    section{
        grid-template-columns: 15% auto 15%;
    }
    section>p{
        font-size: 13px;
    }
    img{
        width: 200px;
        height: 100px;
    }
}

@media screen and (max-width: 800px){
    header{
        grid-template-rows: auto 50% 40%;
    }

    nav{
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: center;
        align-self: end;
    }

    .name{
        justify-self: center;
    }

    .line{
        grid-row-start: 3;
    }

    section{
        margin-top: 70px;
    }
}

@media screen and (max-width: 530px){
    nav{
        font-size: 16px;
    }
}

@media screen and (max-width: 420px){
    nav{
        font-size: 16px;
    }
    header{
        grid-template-columns: 15% auto 15%;
    }
}